<ul>
  <li><a href="/routingerror">Routing Error</a></li>
  <li><a href="/unknown">Unknown action Error</a></li>
  <li><a href="/undeclared">NameError</a></li>
  <li><a href="/javascript_error">JavaScript ReferenceError</a></li>
</ul>
