<!DOCTYPE html>
<html>
  <head>
    <title>Exceptionful</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://cdn.ravenjs.com/3.23.1/raven.min.js" crossorigin="anonymous"></script>
    <script>Raven.config('https://9b52998ee8ca41a2a202b8667a44cf19@sentry.io/298596').install()</script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
